@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
	font-family: Inter, Arial, sans-serif;
  color: black;
	font-size: clamp(16px, 3vw, 20px);

	font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

a {
  color: rgb(50, 50, 50);
}

::-webkit-scrollbar {
  width: .3em;
  height: .3em;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #777777;
  border-radius: 1em;
}
